{% extends 'base.html' %}

{% block content %}
<main class ="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">{% block title %}{{title}}{% endblock %}</h1>
        <hr>
        <p>
            Este es un CRUD básico que utiliza framework Django, bootstrap, sqlite3 y html, es un sitio web funcional para iniciar sesión, registrarse y administrar tareas dependiendo del inicio de sesión del usuario.
        </p>
        <hr>
        <p>
            This is a basic CRUD using framework Django, bootstrap, sqlite3 and html, is a functional website to login, sign up and gestionate tasks depending to the user log in. 
        </p>

    </section>

</main>
{% endblock %}